body {
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
}

p {
  font-family: 'Trebuchet MS', sans-serif;
}

.jumbotron {
  padding: 30px 30px;
}

.photoContainer {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  margin: auto auto;
  justify-content: center;
  align-items: stretch;
  flex-flow: row wrap;
}

.photoItems {
  max-height: 300px;
}

.btnImage {
  padding: 0 0;
  margin: 10px 10px;
}

.footer {
  text-align: center;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
}