body {
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
}

.jumbotron {
  padding: 30px 30px;
}

.footer {
  text-align: center;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
}