<div>
  <button *ngIf="tags" (click)="Dropdown()" style="margin: 10px 10px;"><<</button>
  <button *ngIf="tags" (click)="Dropup()" style="margin: 10px 10px;">>></button>
  <table width="100%" *ngIf="tags">
    <p>{{passage}} / {{this.tags.length-1}}</p>
    <tr *ngFor="let a of test()">
      <td><button (click)="ouvrirInfo(tags[a.Id])"> <img [src]="a.lien"> </button></td>
    </tr>
  </table>
  <button *ngIf="tags" (click)="Dropdown()" style="margin: 10px 10px;"><<</button>
  <button *ngIf="tags" (click)="Dropup()" style="margin: 10px 10px;">>></button>
</div>
