<div>
  <div *ngIf="photosArray.length > photosParPage">
    <button *ngIf="photosArray" (click)="Dropdown()" class="btn btn-primary" style="margin: 10px 10px;"><<</button>
    <button *ngIf="photosArray" (click)="Dropup()" class="btn btn-primary" style="margin: 10px 10px;">>></button>
  </div>
  <div *ngIf="photosArray">
    <p *ngIf="photosArray.length > photosParPage">{{ numeroDePage() }}/{{ nombreDePages() }}</p>
    <div class="photoContainer">
      <button *ngFor="let image of images()" (click)="ouvrirInfo(photosArray[image.Id])" class="btnImage"><img [src]="image.lien" class="photoItems"></button>
    </div>
  </div>
  <div *ngIf="photosArray.length > photosParPage">
    <button *ngIf="photosArray" (click)="Dropdown()" class="btn btn-primary" style="margin: 10px 10px;"><<</button>
    <button *ngIf="photosArray" (click)="Dropup()" class="btn btn-primary" style="margin: 10px 10px;">>></button>
  </div>
</div>
